*{
    margin: 0;
    font-family: font-family: 'Open Sans', sans-serif;;
}
.mary{
    font-weight: 800px;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    margin:50px 200px;

}
.header{
    background: #fff8f3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
nav ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-left: 50px;
}
.O {
    height: 64px;
    border-radius: 5px;
    background-color:#FD6E0A; 
    color: #ffffff;
    font-weight: 700px;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-t{
    font-weight:700 ;
    font-size: 85px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    color: #a4a2a2;
    font-weight:700 ;
    font-size: 20px;
}
.about-info{
    margin: 10px;
    
}
.my-skills{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;

}
.skill-container{
    display: flex;
    justify-content: space-around;

}
.skill{
    margin-right: 20px;
    backgroun:#ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}
.skill-desciption{
    
    color: #757575;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.resume-content{
    display: flex;
    gap: 30px;
}
.section-title{
    text-align: center;
    margin-bottom: 120;
}
.img{
    justify-content: right;
}
.info-description{
    font-weight: 600;
    font-size: 20px;

}
.about{
    text-align: center;
    margin-top: 130px;
    border-radius: 10px;
    padding: 130px 150px;
    background: #fff8f3;
}
.section-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;

}
.section-description{
    font-size: 18px;
    margin-bottom: 30px;
    background-color: #d5cfcf;

}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.banner-s-t{
    font-weight: 600px;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-d{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;

}
hr{

}
.resume-sub-title{
    color:#757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;

}

.resume-description{
    color: #757575;

}
.resume-item-title{

}

.resume .button{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.contact{
    display: flex;
    justify-content: space-around;
    margin-top:200px ;
    gap: 100px;
    padding: 50px 150px;
    background: #fff8f3;
    text-decoration: none;
   
}
.contact input[type="text"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

.message{
    margin-bottom: 30px;

    text-align: justify;
}
.contact.section-title{
    text-align: left;
}
.contact a{
    text-decoration: none;
    margin-right: 100px;

}